@charset "UTF-8";
i {
  font-style: normal; }

h1 {
  font-size: 34px;
  background-image: url("../img/t2.png");
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-align: center;
  line-height: 100px;
  letter-spacing: 10px;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  font-weight: normal; }

> [id^="a_"] {
  position: absolute;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  grid-template-columns: 100px 1fr; }

#a_yz {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100px 460px 660px 620px;
  grid-template-rows: 450px;
  top: 120px;
  position: absolute; }

#a_yz_tj,
#a_lf_tj {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px; }

/* 各级别告警数量统计 */
#a_yz_sltj,
#a_lf_sltj {
  background-image: url("../img/b3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative; }
  #a_yz_sltj h3,
  #a_lf_sltj h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0; }
  #a_yz_sltj i,
  #a_lf_sltj i {
    font-size: 12px; }
  #a_yz_sltj .a_infor,
  #a_lf_sltj .a_infor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    bottom: 10px; }
    #a_yz_sltj .a_infor > *,
    #a_lf_sltj .a_infor > * {
      flex-grow: 1;
      font-size: 0;
      text-align: center;
      border-right: 2px solid #00a5ff; }
    #a_yz_sltj .a_infor > *:last-child,
    #a_lf_sltj .a_infor > *:last-child {
      border-right: none; }
    #a_yz_sltj .a_infor:after,
    #a_lf_sltj .a_infor:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: transparent;
      top: 0;
      left: 0; }
  #a_yz_sltj .a_main,
  #a_lf_sltj .a_main {
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 0px;
    position: absolute;
    top: 57px;
    left: 219px; }

/* 告警数量走势图 */
#a_yz_slzs,
#a_lf_slzs {
  background-image: url("../img/b4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative; }
  #a_yz_slzs > .unit_title,
  #a_lf_slzs > .unit_title {
    flex-direction: column;
    right: 10px;
    left: auto;
    width: auto;
    height: 110px; }

/* 告警内容TOP5 & 告警主机TOP5 */
#a_yz_top, #a_lf_top {
  background-image: url("../img/b2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative; }

/* 告警详情列表 */
#a_yz_xqlb,
#a_lf_xqlb {
  background-image: url("../img/b1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative; }
  #a_yz_xqlb > .unit_title,
  #a_lf_xqlb > .unit_title {
    top: 14px;
    right: 10px;
    left: auto; }

#a_lf {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100px 460px 660px 620px;
  grid-template-rows: 450px;
  top: 610px;
  position: absolute; }

h2._h2 {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  top: 54px;
  left: 90px; }

[class$="_bigfont"] {
  font-size: 72px;
  background-image: linear-gradient(to top, #00a5ff 25%, #71cdff 99%), linear-gradient(#fefeff, #fefeff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none; }

.a_unit {
  font-size: 24px !important;
  margin-left: 10px; }

.a_smallfont {
  font-size: 30px; }

#a_yz_top, #a_lf_top {
  padding: 0px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  padding-top: 70px;
  position: relative; }

.top_item {
  width: 100%;
  height: 54px;
  background-image: url("../img/12.png"); }

.top_context {
  width: 100%;
  height: 42px;
  background-image: url("../img/l2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-size: auto auto;
  position: relative; }
  .top_context > i {
    font-size: 18px;
    position: absolute; }
  .top_context .top_name {
    top: 14px;
    left: 7px;
    font-size: 12px;
    width: 120px;
    line-height: 15px; }
  .top_context .top_num {
    right: 6px;
    top: 4px; }

.top_bar {
  height: 12px;
  width: 100%;
  background-image: url("../img/bar.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center; }

.a_neirong, .a_zhuji {
  display: grid;
  grid-template-rows: repeat(5, 1fr); }

/* 信息 轻微 一般 重要 紧急 */
.unit_title {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  position: absolute;
  width: 200px;
  justify-content: space-around;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  top: 44px; }
  .unit_title > span {
    padding: 0px 6px;
    border-radius: 3px; }

._infor {
  color: #00a5ff; }
  ._infor:hover {
    background-color: #00a5ff;
    color: #FFF; }

._slight {
  color: #53ceec; }
  ._slight:hover, ._slight.active {
    background-color: #53ceec;
    color: #FFF; }

._normal {
  color: #2b6ce8; }
  ._normal:hover {
    background-color: #2b6ce8;
    color: #FFF; }

._important {
  color: #eb7e44; }
  ._important:hover {
    background-color: #eb7e44;
    color: #FFF; }

._urgent {
  color: #ff65da; }
  ._urgent:hover {
    background-color: #ff65da;
    color: #FFF; }

.unit_slzs_m {
  position: absolute;
  right: 60px;
  bottom: 45px;
  font-size: 12px; }

#gjzszs-echarts-yz, #gjzszs-echarts-lf {
  width: 400px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0; }

#a_yz_table, #a_lf_table {
  font-size: 12px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px; }
  #a_yz_table th, #a_yz_table td, #a_lf_table th, #a_lf_table td {
    height: 35px;
    background-color: rgba(0, 232, 255, 0.5); }

/* 时间 */
#sj {
  background-image: url(../img/timer.png);
  width: 260px;
  height: 40px;
  top: 68px;
  left: 1638px;
  position: absolute;
  font-size: 16px;
  text-align: center;
  line-height: 40px; }

/*# sourceMappingURL=alarm.css.map */
