.main-box {
    width: 150px;
    height: 155px;
}

svg#xiyiji {
    width: 150px;
    height: auto;
}

path {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-opacity: 0.7;
}

#bar {
    stroke-dasharray: 26, 28;
    stroke-dashoffset: 0;
    stroke: orange;
    stroke-linecap: round;
    stroke-width: 5;
    opacity: 0;
}

#bk-pp {
    position: absolute;
    width: 200px;
    height: 200px;
    /*outline: 1px solid white;*/
    /*background-color: red;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#paopao path {
    fill: white;
    /*opacity: 0.2;*/
    filter: blur(1px);
}

#p1 {
    -webkit-animation: pp-anim 5s ease-out infinite;
    animation: pp-anim 5s ease-out infinite;
}

@-webkit-keyframes pp-anim {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pp-anim {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.paixian path {
    fill: #fff;
    stroke-width: 0.5px;
}

#r-1 {
    stroke-opacity: 0;
    /*fill: url('#linear');*/
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#svg path {
    fill: #fff;
    opacity: 0.1;
    stroke-opacity: 0;
    filter: blur(1px);
}